<%- include('partials/headerhtml') %>

    <link rel="stylesheet" href="./css/ayuda.cliente.css" />
    <title>Preguntas Frecuente</title>
</head>

<body>
  <div class="main-container d-flex">
    <!-- barra lateral  -->
    <%- include('partials/sidebar') %>
     
    <div class="content">
        <!-- barra de navegacion superior  -->
        <%- include('partials/navbar') %>
        <!-- fin barra superior  -->

        <!-- contenido de la pagina  -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 fs-3 text-light p-3" id="title">
                    Preguntas Frecuentes
                </div>
                <div class="container center pt-1" id="content">

                    <div class="row body-text" id="body">
                        <div class="col-12">
                            <h4>1. ¿Cómo puedo reservar una cita en la barbería?</h4>
                            <p>Puedes reservar una cita fácilmente a través de nuestra página web, haciendo click en el botón de reservar en la página 
                                principal o dando click en el botón de color Cyan que se encuentra en la barra superior. 
                                Para reservar dar click  Reservar cita<a href="./reserva" class="text-primary"> Reservar! </a>
                            </p>
                            <h4>2. ¿Cuáles son los horarios de atención de la barbería?</h4>
                            <p>Nuestros horarios de atención varían según el día de la semana. Puede encontrar nuestros horarios actualizados en nuestra 
                                página web en el apartado de la barra lateral<a href=""> Barbería </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="./js/script.barra.lateral.js"></script>


</body>
</html>