<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/splash.css">
</head>
<body>
    <div class="intro">
        <div class="logo-header">
            <span class="logo">Supra</span><span class="logo">Barber</span>
        </div>
    </div>
    <script src="../js/splash.js"></script>
</body>
</html>