<%- include('partials/headerhtml') %>
    
    <link rel="stylesheet" href="./css/barberia.css" />
    <title>Barbería</title>
</head>

<body>
  <div class="main-container d-flex">
    <!-- barra lateral  -->
     <%- include('partials/sidebar') %>
     
    <div class="content bg-light">

        <!-- barra de navegacion superior  -->
        <%- include('partials/navbar.ejs') %>
        <!-- fin barra superior  -->

        <!-- contenido de la pagina  -->
        <div class="container-fluid center">
            <div class="row contenido">
                <div class="col-md-4 col-lg-4 col-sm-12 mt-4 parte0 pt-3" id="cuerpo">
                    <!-- mapa de la baraberia  -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4924418902588!2d-75.55936552500985!3d6.198575393789147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4683fbb679fd4d%3A0xedb5aead5f9ec66!2sSupra%20Barber%20studio!5e0!3m2!1ses-419!2sco!4v1719345468974!5m2!1ses-419!2sco" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    <!-- descripcion de la direccion  -->
                    <div class="direccion p-2 mt-3 rounded">
                        <h6>Supra Barber</h6>
                        Cra. 25 #3-45<br> 
                        local 120 San Fernando plaza<br>
                        El Poblado, Medellín, Antioquia
                    </div>
                </div>
                <div class="col-md-7 col-lg-5 col-sm-12 center parte1 mt-4 ">
                    <div class="texto mb-3 mt-2">
                        ¡Bienvenido a Supra Barber! <br>Somos una barbería moderna y acogedora<br> 
                        que ofrece cortes de cabello, afeitados impecables y tratamientos de barba. 
                        Nuestro equipo de barberos expertos se esfuerza por brindar una experiencia 
                        excepcional en un ambiente masculino y relajante.  ¡Reserve su cita hoy 
                        mismo y descubra la excelencia en el arte de la con nosotros!
                    </div>
                    <div class="cajita rounded p-2 pt-4 px-4">
                        <h4 class="text-success">Horarios</h4>
                        Lunes a Sábado<br>
                        08:00am A 12:00am y 01:00pm A 07:00pm<br><br>
                        Festivos<br>
                        10:00am A 12:00am y 01:00pm A 04:00pm 
                    </div>
                </div>
                <div class="col-md-1 col-lg-3 col-sm-12 mt-4 parte2">
                    <img src="./img/iconopen.png" width="120px">
                </div>
            </div>
        </div>
            
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./js/script.barra.lateral.js"></script>
</body>
</html>