<%- include('partials/headerhtml') %>

    <!-- <link rel="stylesheet" href="./css/ayuda.cliente.css" /> -->
    <title>Documentación</title>
</head>

<body>
  <div class="main-container d-flex">
    <!-- barra lateral  -->
    <div class="content bg-secondary pt-3">

      
      <div class="row mt-3">
        <div class="col-1 text-center">
          <!-- icono de atras  -->
          <a href="./inicio"><i class="bi bi-arrow-left fs-4"></i></a>
        </div>

        <div class="col-3">
          <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
            <a class="p-1 rounded" href="#simple-list-item-1">Pitch</a>
            <a class="p-1 rounded" href="#simple-list-item-2">Requerimientos Funcionales</a>
            <a class="p-1 rounded" href="#simple-list-item-3">Manual de usuario</a>
            <a class="p-1 rounded" href="#simple-list-item-4">Domentación Código</a>
            <a class="p-1 rounded" href="#simple-list-item-5">Item 5</a>
          </div>
        </div>

        <div class="col-8">
          <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
            <!-- pitch  -->
              <h4 id="simple-list-item-1">Pitch</h4>
            <a class="text-primary" href="https://www.canva.com/design/DAGIu3kqmR8/r0o1VnPJQftJkSDxDtYzwA/edit?utm_content=DAGIu3kqmR8&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton ">Pitch</a>

            <!-- requerimientos funcionales  --> 
            <h4 id="simple-list-item-2">Requerimientos Funcionales</h4>
            <div class="row">
              <div class="col-1">
                RF01<br>RF02<br>RF03<br>RF04<br>RF05<br>RF06<br>RF07<br>RF08<br>RF09<br>RF10<br>RF11<br>RF12<br>RF13<br>RF14<br>RF15<br>
                RF16<br>RF17<br>RF18<br>RF19<br>RF20<br>RF21<br>RF22<br>RF23<br>RF24<br>RF25<br>RF26<br>RF27<br>RF28<br>RF29<br>RF30<br>RF31<br>RF32<br>RF33<br>RF34<br>RF35<br>
                RF36<br>RF37<br>RF38<br>RF39<br>RF40<br>RF41<br>RF42<br>RF43<br>RF44<br>RF45<br>RF46<br> RF47<br>RF48<br>RF49<br>RF50<br>RF51<br>RF52<br>RF53<br>RF54<br>
              </div>
              <div class="col-11">
                El sistema deberá permitir al cliente ser registrado con su información personal. 
                <br>El sistema deberá permitir al cliente iniciar sesión con cuenta existente o crear una nueva. 
                <br>El sistema deberá permitir al cliente actualizar su información personal.
                <br>El sistema deberá permitir al cliente cerrar sesión. 
                <br>El sistema deberá permitir al cliente realizar una busqueda de barberos. 
                <br>El sistema deberá permitir al cliente reservar citas en línea exitosamente. 
                <br>El sistema deberá permitir al cliente seleccionar el corte de cabello deseado.
                <br>El sistema deberá permitir al cliente seleccionar servicios adicionales(cejas y barba). 
                <br>El sistema deberá permitir al cliente seleccionar el barbero de su preferencia. 
                <br>El sistema deberá permitir al cliente seleccionar la fecha y hora de la cita. 
                <br>El sistema deberá permitir al cliente cancelar cita previamente reservada.
                <br>El sistema deberá permitir al cliente reprogramar cita. 
                <br>El sistema deberá permitir al cliente visualizar productos de la barbería.
                <br>El sistema deberá permitir al cliente ver su historial de citas. 
                <br>El sistema deberá permitir al cliente proporcionar una calificación de su experiencia en la barbería. 
                <br>El sistema deberá permitir al cliente ver promociones y descuentos de la barbería. 
                <br>El sistema deberá permitir al cliente ver el calendario de disponibilidad del barbero. 
                <br>El sistema deberá permitir al cliente ver las reseñas y valoraciones de otros clientes. 
                <br>El sistema deberá permitir al cliente ver perfil de los barberos. 
                <br>El sistema deberá permitir al cliente observar la ubicación de la babería por medio de Google Maps. 
                <br>El sistema deberá permitir al cliente visualizar ofertas para VIP.  
                <br>El sistema deberá permitir al cliente visualizar preguntas frecuentes. 
                <br>El sistema deberá permitir al cliente agregar códigos promocionales para canjear en la babería. 
                <br>El sistema deberá permitir al administrador iniciar sesión.
                <br>El sistema deberá permitir al administrador modificar su contraseña. 
                <br>El sistema deberá permitir al administrador cerrar sesión. 
                <br>El sistema deberá permitir al barbero modificar los precios de los cortes de cabello y barba. 
                <br>El sistema deberá permitir al administrador registrar códigos promocionales. 
                <br>El sistema deberá permitir al administrador eliminar códigos promocionales. 
                <br>El sistema deberá permitir al administrador registrar link de las redes sociales de la barbería. 
                <br>El sistema deberá permitir al administrador eliminar link de las redes sociales de la barbería. 
                <br>El sistema deberá permitir al administrador registrar anuncios de novedades en productos. 
                <br>El sistema deberá permitir al administrador  eliminar anuncios de  novedades en productos. 
                <br>El sistema deberá permitir al administrador registrar los horarios de atencion la barbería. 
                <br>El sistema deberá permitir al administrador modificar los horarios de atencion la barbería.
                <br>El sistema deberá permitir al administrador registrar la ubicación de la barbería. 
                <br>El sistema deberá permitir al administrador actualizar la ubicación de la barbería.
                <br>El sistema deberá permitir al administrador eliminar la cuenta de un usuario. 
                <br>El sistema deberá permitir al administrador eliminar la cuenta de un barbero.
                <br>El sistema deberá permitir al cliente realizar el pago de la reserva. 
                <br>El sistema deberá permitir al administrador visualizar todas las cuentas de usuarios existentes. 
                <br>El sistema deberá permitir al administrador visualizar todas las cuentas de barberos existentes.
                <br>El sistema deberá permitir al barbero registrarse con su información personal.
                <br>El sistema deberá permitir al barbero iniciar sesion.
                <br>El sistema deberá permitir al barbero actualizar su informacion personal. 
                <br>El sistema deberá permitir al barbero cerrar sesion.
                <br>El sistema deberá permitir al barbero cancelar la cita. 
                <br>El sistema deberá permitir al barbero publicar fotos de sus servicios. 
                <br>El sistema deberá permitir al barbero eliminar publicaciones de fotos sus servicios. 
                <br>El sistema deberá permitir al barbero registrar su horario de disponibilidad. 
                <br>El sistema deberá permitir al barbero visualizar la reprogramacion de una cita. 
                <br>El sistema deberá permitir al barbero visualizar la cancelación de una cita.
                <br>El sistema deberá permitir al barbero visualizar las cuentas de los usuarios existentes. 
                <br>El sistema deberá permitir al barbero registrar sus cortes de cabello y barba.

              </div>
            </div>
            <!-- manual de usuario  -->
            <h4 id="simple-list-item-3">Manual de Usuario</h4>
            <p>...</p>

            <!-- Documentación código  -->
            <h4 id="simple-list-item-4">Documentación Código</h4>
            <a class="text-primary" href="http://127.0.0.1:5500/docs/index.html">Documentación Código</a>
            
            <h4 id="simple-list-item-5">Item 5</h4>
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>