<%- include('partials/headerhtml') %>
    
    <link rel="stylesheet" href="./css/servicio.cliente.css" />
    <title>Servicios</title>
</head>

<body>
  <div class="main-container d-flex">
    <!-- barra lateral  -->
     <%- include('partials/sidebar') %>
     
    <div class="content">

        <!-- barra de navegacion superior  -->
        <%- include('partials/navbar.ejs') %>
        <!-- fin barra superior  -->

        <!-- contenido de la pagina  -->
        <div class="container-fluid center" id="content">
            <div class="row">
                <div class="col-md-12 center" id="cuerpo">
                    <% datos.forEach(element => { %>
                        <button type="button" class="btn btn-outline-success fs-5 btn-servicio mx-2 my-3"><a class="corte" href="./corte1"><%= element.nombre %> </a></button>
                    <% }); %>
                </div>
            </div>
        </div>
            
    </div>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./js/script.barra.lateral.js"></script>
</body>
</html>