<%- include('partials/headerhtml') %>

    <link rel="stylesheet" href="./css/perfil.cliente.css" />
    <title>Perfil</title>
</head>

<body>
  <div class="main-container d-flex">
    <!-- barra lateral  -->
     <%- include('partials/sidebar') %>
     
    <div class="content">

      <!-- barra de navegacion superior  -->
      <%- include('partials/navbar') %>
      <!-- fin barra superior  -->

      <!-- contenido de la pagina  -->
        
        <div class="content-body text-center center pt-0" style="width: 100%; height: 84%;" id="contenidos">
            
            <img src="img/usuario.png" class="imagen-pefil" width="100px">

            <div class="container-fluid " id="caja">

                <!-- cuadro azul  -->
                <div class="caja border rounded center" id="datos">

                    <!-- tabla de datos  -->

                    <div class="list-group" id="list-group">
                        <!-- campo nombre  -->
                        <button type="button" class="list-group-item list-group-item-action text-secondary d-flex justify-content-between">

                            <div id="titu" class="d-flex flex-column">Nombre de usuario<br>
                                
                                <p class="fs-5 text-dark">Hector Muñoz de la Peña</p>
                            </div>
                            
                            <div id="edit">
                                <div onclick="modificar(event)" type="button" class="fs-6" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Editar</div>
                            </div>

                        </button>
                        <!-- campo id  -->
                        <button type="button" class="list-group-item list-group-item-action d-flex justify-content-start flex-column" disabled>Identificación<br>
                            <p class="fs-5">1020405548</p>
                        </button>


                        <!-- campo Correo  -->
                        <button type="button" class="list-group-item list-group-item-action text-secondary d-flex justify-content-between">

                            <div id="titu" class="d-flex flex-column">Correo electronico<br>
                                <p class="fs-5 text-dark">hector@gmail.com</p>
                                </div>
                            <div id="edit">
                                <div onclick="modificar(event)" type="button" class="fs-6" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Editar</div>
                            </div>
                            
                        </button>

                        <!-- telefono  -->
                        <button type="button" class="list-group-item list-group-item-action text-secondary d-flex justify-content-between" id="op">

                            <div id="titu" class="d-flex flex-column">Telefono<br>
                                <p class="fs-5 text-dark">3157316581</p>
                                </div>
                            <div id="edit">
                                <div onclick="modificar(event)" type="button" class="fs-6" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Editar</div>
                            </div>
                            
                        </button>

                        <!-- Contraseña  -->
                        <button type="button" class="list-group-item list-group-item-action text-secondary d-flex justify-content-between">

                            <div id="titu" class="d-flex flex-column">Contraseña<br>
                                <p class="fs-5 text-dark">Pe*******</p>
                            </div>
                            <div id="edit">
                                <div onclick="modificar(event)" type="button" class="fs-6" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Editar</div>
                            </div>
                            
                        </button>
                    </div>
                </div>
            </div>
        </div>
                
        <!-- Boton para eliminar la cuenta del cliente  -->
        <button type="button" class="btn btn-outline-secondary rounded-pill mt-2 ms-4">Eliminar cuenta</button>
        
        <!-- Modal de editar  -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Ingresa el dato a editar</label>
                      <input type="text" class="form-control" id="recipient-name">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="./js/script.barra.lateral.js"></script>


</body>
</html>