<%- include('partials/headerhtml') %>

    <link rel="stylesheet" href="./css/inicio.clientes.css" />
    <title>Inicio</title>
</head>

<body>
  <div class="main-container d-flex">
    <!-- barra lateral  -->
     <%- include('partials/sidebar') %>
     
    <div class="content">

      <!-- barra de navegacion superior  -->
      <%- include('partials/navbar.reserva.ejs', { tpk }) %>
      <!-- fin barra superior  -->

      <!-- contenido de la pagina  -->
      <div class="contenido-content center" id="contenido">
        <!-- header content  -->
        <div class="content-header text-center">
          <p class="fs-3">Hola Angie, bienvenido a Supra Barber</p>
          <p class="fs-3" id="lo">¡Empieza hoy con nosotros!</p>
          </div>
          
          <!-- body content  -->
          <div class="content-body text-center px-4" style="width: 100%;">
            <!-- bonton reserva -->
            <a class="btn btn-md btn-danger fs-4" href="./reserva" role="button" id="btn-reservar">Reservar cita</a>

            <!-- carrusel de anuncios  -->
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <!-- primer anuncio  -->
                <div class="carousel-item" style="background: #036d74;" >
                  <span class="text text-center">
                    <p class="fs-2 text-secondary mt-3">Hoy celebramos en Supra Barber<br>
                        el dia del hombre, disfruta del 20% de descuento<br>
                        en todos los cortes hasta el 2 de diciembre.
                    </p>
                    <p class="litle fs-2 text-dark" id="co">codigo #46477</p>
                </span>
                </div>
                <!-- segundo anuncio  -->
                <div class="carousel-item active" style="background: #32D8CE;">                  
                  <span class="text text-center">
                    <p class="fs-2 text-secondary mt-3">Hoy celebramos en Supra Barber<br>
                        el dia del hombre, disfruta del 20% de descuento<br>
                        en todos los cortes hasta el 2 de diciembre.
                    </p>
                    <p class="litle fs-2 text-dark" id="co">codigo #46477</p>
                </span>
                </div>
                <!-- tercer anuncio  -->
                <div class="carousel-item" style="background: #52018c;" >
                  <span class="text text-center">
                    <p class="fs-2 text-secondary mt-3">Hoy celebramos en Supra Barber<br>
                        el dia del hombre, disfruta del 20% de descuento<br>
                        en todos los cortes hasta el 2 de diciembre.
                    </p>
                    <p class="litle fs-2 text-dark" id="co">codigo #46477</p>
                </span>
                </div>
                </div>
              <!-- boton de anuncio anterior  -->
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
              <!-- boton de siguiente anuncio  -->
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        
      </div>
        
    </div>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="./js/script.barra.lateral.js"></script>


</body>
</html>