/* Inportacion de la fuente goudy bookletter  */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Coiny&family=Goudy+Bookletter+1911&family=Itim&display=swap');


#barberos{
    height: 458px;
}
#barber{
    cursor: pointer;
}

#text-help{
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal
}

#content-btn{
    position: relative;
}

#btn-siguiente{
    background: #7ABDFF; 
    cursor: pointer; 
    height: 65px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    
}