/* importacion de Lilita One  */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lilita One', sans-serif;
    font-weight: 700;
    background-color: #111;
}

h2 {
    position: relative;
    font-size: 3rem;
    color: #222;
}

h2::before {
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 320px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 8s  linear infinite;
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.58);
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}